extends layout 
    
block content
    
    main
        - const regions = []
        each country, i in data 
            - regions.push(country.region)
        - const regionsUnique = [...new Set(regions)]
        .options
            .search
                i(class="bi bi-search")
                input(type="search", id="search", placeholder="Search for a country...", value= val? val : "")
                
            select(name="regions", id="regions")
                option(value="/") All Countries
                
                each region, i in regionsUnique
                    option(value= `/region/${region}`)= region 


        .countries#countries
            each country, i in data 
                - regions.push(country.region)
                a(href=`/name/${country.name.replace(/Å/gi, 'A').replace(/ç/gi, 'c').replace(/é/gi,'e')}`)
                    .country
                        img(src=country.flags.svg, alt=`${country.name} flag`)
                        .details
                            h5= country.name
                            h6 Population: 
                                span #{country.population.toLocaleString()} 
                            h6 Region: 
                                span #{country.region}
                            h6 Capital: 
                                span #{country.capital ? country.capital : "none"}

                    